<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.min.css">  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
  #app{
      background-color:#CFD8DC;      
  }
  </style>
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>   
       <!--<h2 class="text-center">CRUD usando APIREST con Node JS</h2>-->
       <!-- Botón CREAR -->                
        <v-card class="mx-auto mt-5" color="transparent" max-width="1280" elevation="0">
        <div class="d-flex mb-6" color="grey lighten-2" flat tile>
          <h2 class="pa-2 mr-auto" >Gestión de productos</h2>            
          <v-btn rounded color="#1DE9B6" dark @click.prevent="formNuevo()">Crear producto</v-btn>           
        </div>
        <!-- filtros -->
        <div color="grey lighten-2">
          
       <v-form >
          <h4>Nombre del producto</h4>     
          <v-col cols="12" md="8">
            <v-text-field v-model="buscador"></v-text-field>
          </v-col>   
          <v-col cols="12" md="4">

          <v-card-actions>
            <v-btn @click.prevent="filtrar(buscador)" type="submit" color="primary accent-3" >Buscar</v-btn>
          </v-card-actions>
          </v-col>
          
        </v-form>      
          <v-col cols="12">
            <input type="radio" value="todo" v-model="filtro">
            <label >Mostrar todos</label>
            <input type="radio" value="1" v-model="filtro">
            <label >Activos</label>
            <input type="radio" value="2" v-model="filtro">
            <label >Inactivos</label>
            <input type="radio" value="3" v-model="filtro">
            <label >Pendientes</label>
          </v-col>
        </div>


        <!-- Tabla y formulario -->
        <v-simple-table class="mt-5">
            <template v-slot:default>
                <thead>
                    <tr class="primary">
                        <th class="white--text">Nombre del producto</th>
                        <th class="white--text">Codigo</th>
                        <th class="white--text">Exitencia</th>
                        <th class="white--text">Bodega</th>
                        <th class="white--text">Descripción</th>
                        <th class="white--text">Editar</th>
                        <th class="white--text">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="producto in filter" :key="producto.id">
                    <td>
                    <v-icon color="#1DE9B6" dark right>mdi-checkbox-marked-circle</v-icon>
                    </v-btn>{{ producto.nombre }}</td>
                    <td>{{ producto.codigo }}</td>
                    <td>{{ producto.existencia }}</td>
                    <td>
                      <div v-for="bodega in bodegas">
                        <p v-if="bodega.id == producto.id_bodega">{{bodega.nombre}}</p>
                      </div>
                    </td>
                    <td>{{ producto.descripcion }}</td>
                    <td>
                        <v-btn small fab  @click="formEditar(producto.id, producto.nombre, producto.codigo, producto.existencia, producto.id_bodega, producto.descripcion, producto.estado)"><v-icon>mdi-pencil</v-icon></v-btn>
                    </td>
                    <div>
                      <td v-if="(producto.estado == 1)"><v-btn small color="#76FF03" dark>Activo</v-btn></td>
                      <td v-if="(producto.estado == 2)"><v-btn small color="#D50000" dark>Inactivo</v-btn></td>
                      <td v-if="(producto.estado == 3)"><v-btn small color="#FFC107" dark>Pendiente</v-btn></td>
                    </div>
                    </tr>
                </tbody>
            </template>
        </v-simple-table>

          <v-simple-table class="mt-5">
            <template v-slot:default>
        <thead>
          <tr class="green">
              <th class="white--text">Bodegas</th>
              <th class="white--text">Cantidad de Productos</th>
            </tr>
          </thead>
          <tbody>
              <tr v-for="count in conteo" :key="producto.id">
                <td>{{count.bodega}}</td>
                <td>{{count.count}}</td>
                </tr>
            </tbody>
          </template>
        </v-simple-table>
        
        </v-card>        
      <!-- Componente de Diálogo para CREAR y EDITAR -->
      <v-dialog v-model="dialog" max-width="600">        
        <v-card>
          <v-card-title class="primary darken-4 white--text">producto</v-card-title>    
          <v-card-text>            
            <v-form>             
              <v-container>
                <v-row>
                  <input v-model="producto.id" hidden></input>
                  <v-col cols="12" md="8">
                    <v-label>Nombre del producto</v-label>
                    <v-text-field v-model="producto.nombre" solo required></v-text-field>
                  </v-col>
                  <v-col cols="12" md="8">
                    <v-label>Codigo</v-label>
                    <v-text-field v-model="producto.codigo" label="Codigo" solo required></v-text-field>
                  </v-col>
                  <v-col cols="12" md="8">
                    <v-label>Exitencia</v-label>
                    <v-text-field v-model="producto.existencia" label="Exitencia"  solo required></v-text-field>
                  </v-col>
                  <v-col cols="12" md="8">
                    <v-label>Bodega</v-label>
                    <select v-model="bodega">
                      <option v-for="bodega in bodegas" :value="bodega.id" :selected="producto.id_bodega == bodega.id">{{bodega.nombre}}</option>
                    </select>
                  </v-col>
                  <v-col cols="12" md="8">
                    <v-label>Descripción</v-label>
                    <v-text-field v-model="producto.descripcion" label="Descripción" solo required></v-text-field>
                  </v-col>
                  <v-col cols="12" md="8">
                    <select v-model="producto.estado">
                      <option value="1">Activo</option>
                      <option value="2">Inactivo</option>
                      <option value="3">Pendiente</option>
                    </select>
                  </v-col>
                    <!-- <v-select v-model="value" :items="items" label="Seleccione un elemento" dense  outlined ></v-select> -->
                    
                  
                </v-row>
              </v-container>            
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-col class="d-flex" cols="12" sm="8" >
              <v-btn @click="dialog=false" color="blue-grey" dark>Cancelar</v-btn>
              <v-btn @click="guardar()" type="submit" color="primary accent-3" dark>Guardar</v-btn>
            </v-col>
          </v-card-actions>
          </v-form>
          
        </v-card>
      </v-dialog>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js" integrity="sha512-nqIFZC8560+CqHgXKez61MI0f9XSTKLkm0zFVm/99Wt0jSTZ7yeeYwbzyl0SGn/s8Mulbdw+ScCG41hmO2+FKw==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js"></script>

  <script>
    let url = 'http://127.0.0.1:8000/api/productos/';
    let filter = 'http://127.0.0.1:8000/api/filter/';
    let bodegas = 'http://127.0.0.1:8000/api/bodegas/';
    let conteo = 'http://127.0.0.1:8000/api/conteo';
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
       data() {
        return {            
            productos: [],
            dialog: false,
            operacion: '',  
            filtro:'todo', 
            buscador:'',      
            bodegas:[],
            bodega:null,
            conteo:[],
            producto:{
                id: null,
                nombre:'',
                codigo:'',
                existencia:'',
                id_bodega:'',
                descripcion:'',
                estado:''
            }          
        }
       },
       created(){               
          this.mostrar();
          this.setBodegas();
          this.setConteo();
       },  
       methods:{          
            //MÉTODOS PARA EL CRUD
            mostrar:function(){
              axios.get(url)
              .then(response =>{
                this.productos = response.data;                   
              })
            },
            
            //obtener bodegas
            setBodegas:function(){
              axios.get(bodegas)
              .then(response =>{
                this.bodegas = response.data;                   
              })
            },

            //obtener conteo
            setConteo:function(){
              axios.get(conteo)
              .then(response =>{
                this.conteo = response.data;                   
              })
            },

            //filtro
            filtrar: function(){
              if (this.buscador){
                axios.get(filter+this.buscador)
                .then(response =>{
                  this.productos = response.data;                   
                })
              } else {
                this.mostrar();
              }
            },

            crear:function(){
                let parametros = {nombre:this.producto.nombre, codigo:this.producto.codigo, existencia:this.producto.existencia, id_bodega:this.bodega, descripcion:this.producto.descripcion, estado:this.producto.estado };                
                axios.post(url, parametros)
                .then(response =>{
                  this.mostrar();
                });
                this.producto.nombre="";
                this.producto.codigo="";
                this.producto.existencia="";
                this.producto.id_bodega="";
                this.producto.descripcion="";
                this.producto.estado="";
            },                        
            editar: function(){
            let parametros = {nombre:this.producto.nombre, codigo:this.producto.codigo, existencia:this.producto.existencia, id_bodega:this.bodega, descripcion:this.producto.descripcion, estado:this.producto.estado, id:this.producto.id};           
                 axios.put(url+this.producto.id, parametros)                            
                  .then(response => {                                
                     this.mostrar();
                  })                
                  .catch(error => {
                      console.log(error);            
                  });
            },

            //Botones y formularios
            guardar:function(){
              if(this.operacion=='crear'){
                this.crear();                
              }
              if(this.operacion=='editar'){ 
                this.editar();                           
              }
              this.dialog=false;                        
            }, 
            formNuevo:function () {
              this.dialog=true;
              this.operacion='crear';
              this.producto.nombre='';                           
              this.producto.codigo='';                           
              this.producto.existencia='';                           
              this.producto.id_bodega='';
              this.producto.descripcion='';
              this.producto.estado='';
            },
            formEditar:function(id, nombre, codigo, existencia, id_bodega, descripcion, estado){
              this.bodega = id_bodega;
              this.producto.id = id;
              this.producto.nombre = nombre;                            
              this.producto.codigo = codigo;
              this.producto.existencia = existencia;                      
              this.producto.id_bodega = id_bodega;                      
              this.producto.descripcion = descripcion;                      
              this.producto.estado = estado;                      
              this.dialog=true;                            
              this.operacion='editar';
            }
       },
      computed:{
        filter:function(){
          var data=this.productos;
          var filtroCheck=this.filtro;
          if (filtroCheck=='todo') {
            return data;
          }else{
            return data.filter(function(x){
              return x.estado==filtroCheck;
            });
          } 
        }
      }
       


 

    });

  </script>
</body>
</html> 